<%- include("header") -%> 
<div class="glass" style="border-radius: 15px; margin: 30px; padding: 10px;">
    <h2>This is About</h2>
    <p style="padding-left: 0px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eius fugiat doloribus quas at ullam asperiores libero tenetur facere mollitia!</p>
</div>


<%- include("footer") -%> 